
/* SPACE CHEFS FROM SPACE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@font-face {
	font-family: "NES2"; 
	font-weight: normal;
	src: url("fonts/nes2.ttf") format("truetype");
}



/* BASE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
	box-sizing: border-box;
}



body {
	background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
    overflow-x: hidden;
    max-width: 1440px;
    margin: auto;
}
header {
	position: fixed;
    max-width: 100vw;
    top: 0;
    left: 0;
    /* margin: 2.5em auto; */
    width: 100vw;
    z-index: 4;
}
img {
	max-width: 100%;
	height: auto;
}

main {
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #519A56;
    border-style: solid;
    border-width: 1.5em;
    border-color: #519a56;
}

section {
	padding: 1em 0;
	position: relative;
}

hr {
    border: none;
    border-bottom: 1px solid #FFD43D;
    margin: 2em auto;
}



/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
    position: absolute;
    padding-bottom: -3.5em;
    top: 2em;
    right: 2.5em;
    font-size: 0.4em;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
}

.nav-open nav {
	transform: translateX(-100vw);
}

nav a {
	color: white;
	text-shadow: 2px 2px #FF764F;
	padding: 18px;
	text-decoration: none;
	font-family: "NES2";
	font-size: 3em;
	font-weight: bold;
	display: block;
	z-index: 3;
	text-align: right;
	text-transform: uppercase;
}
nav a:hover {
	text-decoration: underline;
}

.nav-grid {
	margin-left: 60em;

}

.toggle {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	z-index: 2;
	color: black;
	cursor: pointer;
}

.toggle:hover {
	text-decoration: underline;
}

.search-container {
    display: none;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	padding: 5px;
	height: 40px;
	outline: none;
	color: #535E78;
	background-color: #535E78;
	border-radius: 20px 0 0 20px;
	border:none;
}

.searchTerm:focus{
	color: #535E78;
}

.searchButton {
	width: 40px;
	height: 40px;
	background: #535E78;
	text-align: center;
	color: #535E78;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
	font-size: 20px;
	border:none;
}

.logo{
	position: absolute;
    width: 6em;
    /* min-width: 3%; */
    top: 2.2em;
    left: 1.4em;
}

.headingbox {
	position: relative;
    max-width: 1440px;
    /* top: 0; */
    /* left: 0; */
    height: 5em;
    /* padding-left: 10em; */
    margin: auto;
    width: 100vw;
    z-index: 0;
    background-color: #519A56;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1	{
	color:#ffffff;
	font-family: "NES2";
	text-align: center;
}

h2	{
	font-family: "NES2";
	color:#FFD43D;
	text-align:left;
	font-size: 2em;
	font-weight: normal
}

h3	{
	color:#ffffff;
	text-align: left;

}

h4	{	
	
	color:#ffffff;
	text-align: left;
	font-size:2em;
}

p{
	color: #ffffff;
	padding-right:0em;
	padding-left:0em;
	text-align: left;
}





/* GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 2em;
	padding: 0.5em;
	max-width: 70em;
	margin: 1em auto;
}

@media (min-width: 50em) {
	.grid.two-column {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid.three-column {
		grid-template-columns: repeat(3, 1fr);
	}
	.full-width {
		grid-column: 1 / -1;
	}


}

.limit-width {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}




/* TOP SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.top-section {
    padding-top: 3em;
}

.top-section-text {
    color: white;
    padding: 2em 0 0 0;
}

@media (min-width: 50em) {
	.top-section-text {
	    position: absolute;
	    top: 5rem;
	    max-width: 40em;
	    right: 1em;
	    width: 50%;
	}

	.logo{
	position: absolute;
    width: 8em;
    top: 1.2em;
    left: 1.4em;
	}

	nav{
	position: absolute;
    padding-bottom: -3.5em;
    top: 2em;
    right: 2.5em;
    font-size: 0.5em;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
	}

}

@media (min-width: 70em) {
	.top-section-text {
		font-size: 1.3em;
    	line-height: 150%;	
	}
}

/* GAME INFO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.game-info-section {
	padding:3em;
	margin-top: 2em;
	background-image: url('img/game-info-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.game-info {
	height: 90px;
	position: absolute;
	top: -1.25em;
	left: 50%;
	transform: translateX(-50%);
}


@media (min-width: 50em) {

	.game-info-section {
	padding:5em;
	margin-top: 2em;
	background-image: url('img/game-info-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

}



/* CHARACTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.characters-section {
	margin-top: 2em;
	padding:3em;
	background-image: url('img/character-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.grid-item-03 {
	width: 100%;
	align-content: center;
}
.grid-container-03 img{
	width: calc(100% - (20px * 2));
	margin: 40px;
}
.grid-item-characters {
	width: 68%;
	align-content: center;
	padding-bottom:6em;
}
.grid-item-main {
	width: 50%;
	align-content: center;
	padding-bottom:6em;
	border-bottom: 1px solid #FFD43D;
}
.grid-item-main-text {
	width: 50%;
	align-content: center;
	padding-top:6em;
	padding-right:12em;
	padding-bottom:6em;
	border-bottom: 1px solid #FFD43D;
}
.grid-item-flying {
	width: 30%;
	align-content: center;
	padding-bottom:6em;
	padding-top:6em;
}
.grid-item-line {
	width: 30%;
	align-content: center;
	padding-bottom:6em;
	padding-top:6em;
}
.grid-item-head{
	width: 30%;
	align-content: center;
	padding-bottom:6em;
	padding-top:6em;
}
.grid-item-boss{
	width: 50%;
	padding-bottom:6em;
}

.grid-item-boss-text{
	width: 50%;
	align-content: center;
	padding-top:9em;
	padding-right:12em;
	padding-bottom:6em;
}

.headchef {
	max-width: 63%;
    height: auto;
    margin-left: 2.5em;
}

.lineworker {
	max-width: 67%;
    height: auto;
    margin-left: 2.5em;
}

.flyingdish {
	max-width: 100%;
    height: auto;
}


.boss {
	max-width: 90%;
    height: auto;
    margin-top: -2em;
    margin-left: 0em;
}




@media (min-width: 50em) {
	.characters-section {
	margin-top: 2em;
	padding:5em;
	background-image: url('img/character-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	}

	.boss {
    max-width: 60%;
    height: auto;
    margin-top: -3em;
    margin-left: 9em;
	}

}


/* NEWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.news-section {
	margin-top: 2em;
	padding:3em;
	background-image: url('img/game-info-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.news-image {
	max-width: 83%;
}

.news-text {
	color: #ffffff;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 200%;
}

.news {
	height: 90px;
	position: absolute;
	top: -1.25em;
	left: 50%;
	transform: translateX(-50%);

}


@media (min-width: 50em) {
	.news-section {
	margin-top: 2em;
	padding:5em;
	background-image: url('img/game-info-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	}


}




/* SEARCH BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrap .search-container {
	float: right;
}

.wrap input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 14px;
	border: none;
	opacity: 30%;
	border-radius: 30px; 
	margin-left: 2em;
	width: 510px;
	height: 45px;
}

.wrap .search-container button {
	float: right;
	padding: 0px;
	margin-left: -10px;

	font-size: 17px;
	border: none;
	cursor: pointer;
}

.wrap .search-container button:hover {
	background: #ccc;
}

.image-container .search-icon img {
	margin-left: -20px;
}















